<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Juegos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>
<body>
<div th:replace="comun/menu.html"></div>
<div class="container">
    <h1 class="mt-5">Lista de Juegos</h1>

    <a th:href="@{/juegos/nuevoJuego}" class="btn btn-primary mb-3">Nuevo Juego</a>

    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Nombre del Juego</th>
            <th>Descripción</th>
            <th>Disponibilidad</th>
            <th>Precio</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="juego : ${juegos}">
            <td th:text="${juego.idJuego}"></td>
            <td th:text="${juego.nomJuego}"></td>
            <td th:text="${juego.desJuego}"></td>
            <td th:text="${juego.dispoJueg}"></td>
            <td th:text="${juego.precio}"></td>
            <td>
                <a th:href="@{/juegos/actualizarJuego/{id}(id=${juego.idJuego})}" class="btn btn-warning btn-sm">Editar</a>
                <a th:href="@{/juegos/eliminarJuego/{id}(id=${juego.idJuego})}" class="btn btn-danger btn-sm">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
