<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Gestion de usuarios</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>
<body>
<div th:replace="comun/menu.html"></div>
<div class="container my-2">
  <h1>Registro de usuarios</h1>
  <a th:href="@{/usuarios/nuevoUsuario}" class="btn btn-primary mb-3">Crear Nuevo Usuario</a>

  <table class="table table-striped">
    <thead class="thead-dark">
    <tr>
      <th>Id</th>
      <th>Nombre de usuario</th>
      <th>password</th>
      <th>Cliente</th>

      <th> Acción </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="usuario : ${listarUsuarios}">
      <td th:text="${usuario.idUsuario}"></td>
      <td th:text="${usuario.nombreUsuario}"></td>
      <td th:text="${usuario.password}"></td>

      <td th:text="${usuario.cliente?.nomCliente?:'no registrado'}+' '+
				${usuario.cliente?.apPat?:''}"></td>

      <td>
        <a th:href="@{/usuarios/actualizarUsuario/{id}(id=${usuario.idUsuario})}" class="btn btn-warning">Editar</a>
        <a th:href="@{/usuarios/eliminarUsuario/{id}(id=${usuario.idUsuario})}" class="btn btn-danger">Eliminar</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>

</body>
</html>