<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Administración de Clientes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>
<body>
<div th:replace="comun/menu.html"></div>
<div class="container">
    <h1>Lista de Clientes</h1>
    <a th:href="@{/clientes/nuevoCliente}" class="btn btn-primary mb-3">Agregar Cliente</a>
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido Paterno</th>
            <th>Apellido Materno</th>
            <th>DNI</th>
            <th>Teléfono</th>
            <th>Correo</th>
            <th>Acción</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cliente : ${listarClientes}">
            <td th:text="${cliente.idCliente}"></td>
            <td th:text="${cliente.nomCliente}"></td>
            <td th:text="${cliente.apPat}"></td>
            <td th:text="${cliente.apMat}"></td>
            <td th:text="${cliente.dni}"></td>
            <td th:text="${cliente.telef}"></td>
            <td th:text="${cliente.correo}"></td>
            <td>
                <a th:href="@{/clientes/actualizarCliente/{id}(id=${cliente.idCliente})}" class="btn btn-warning">Editar</a>
                <a th:href="@{/clientes/eliminarCliente/{id}(id=${cliente.idCliente})}" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
